<div class="columns mt-5">
    <div class='column'>
        <a href="javascript:;" class="has-text-light" id="previous"><i class="fas fa-caret-left"></i> Previous</a>
    </div>
    <div class='column has-text-right'>
        <a href="javascript:;" class="has-text-light" id="next">Next <i class="fas fa-caret-right"></i></a>
    </div>
</div>
<article class="message is-transparent">
    <div class="message-body has-text-light border-character">
        <div class="columns">
            <div class="column">
                <h1 class="title is-size-1 has-text-light character-name">
                    {{ name }}
                </h1>
                <img width="200" height="200" src="{{ image }}">
            </div>
            <div class="column">
                <h3 class="is-size-4">
                    Status: <strong>{{ status }}</strong>
                </h3>
                <h3 class="is-size-4 mt-4">
                    Species: <strong>{{ species }}</strong>
                </h3>
                <h3 class="is-size-4 mt-4">
                    Type: <strong>{{ type }}</strong>
                </h3>
                <h3 class="is-size-4 mt-4">
                    Gender: <strong>{{ gender }}</strong>
                </h3>
                <h3 class="is-size-4 mt-4">
                    Origin: <a href="/location/{{ origin.id }}"> {{ origin.name }}</a>
                </h3>
                <h3 class="is-size-4 mt-4">
                    Location: <a href="/location/{{ location.id }}"> {{ location.name }}</a>
                </h3>
            </div>
        </div>
    </div>
</article>