{{#if row }}
</div>
<div class="columns">
{{/if}}
<div class="column">
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by4">
        <img src="{{ image }}" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">{{ name }}</p>
          <p class="subtitle is-6">{{ species }}</p>
        </div>
      </div>

      <div class="content">
        <i class="far fa-clock"></i> <time>{{ created }}</time>
      </div>
    </div>
    <footer class="card-footer">
      <a href="/character/{{ id }}" class="card-footer-item has-text-weight-semibold has-text-danger">View</a>
    </footer>
  </div>
</div>