<div class="columns mt-5">
    <div class='column'>
        <a href="javascript:;" class="has-text-light" id="previous"><i class="fas fa-caret-left"></i> Previous</a>
    </div>
    <div class='column has-text-right'>
        <a href="javascript:;" class="has-text-light" id="next">Next <i class="fas fa-caret-right"></i></a>
    </div>
</div>
<article class="message is-transparent">
    <div class="message-body has-text-light border-character">
        <center>
            <h1 class="title is-size-1 has-text-light character-name">
                {{ episode }}
            </h1>
        </center>
        <div class="columns">
            <div class="column">
                <h3 class="is-size-4 mt-4">
                    Name: <strong>{{ name }}</strong>
                </h3>
            </div>
            <div class="column">
                <h3 class="is-size-4 mt-4">
                    Air date: <strong>{{ air_date }}</strong>
                </h3>
            </div>
        </div>
        <center><small>{{ created }}</small></center>
    </div>
</article>