{{#if row }}
</div>
<div class="columns">
{{/if}}
<div class="column">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">{{ name }}</p>
          <p class="subtitle is-6">{{ type }}</p>
          <p class="subtitle is-6">Dimension: <a href="#">{{ dimension }}</a></p>
        </div>
      </div>

      <div class="content">
        <time>{{ created }}</time>
      </div>
    </div>
    <footer class="card-footer">
      <a href="/location/{{ id }}" class="card-footer-item has-text-weight-semibold has-text-danger">View</a>
    </footer>
  </div>
</div>