{% extends 'site.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/character') }}
{% endblock %}

{% block body %}
<input type="hidden" value="{{ id }}" id="characterTextInput"/>
<section class="mt-5">
    <div class="container mt-5">
        <div class="columns">
            <div class="column"></div>
            <div class="column">
                <div id="character">

                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column"></div>
            <div class="column">
                <div id="episodes">
                Loading all episodes, please wait...
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block featured %}
    <img src="{{ asset('build/images/morty.png') }}" alt="Morty image" class="floating floating-morty">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/character') }}
{% endblock %}