{% extends 'site.html.twig' %}

{% block body %}
<input type="hidden" value="{{ id }}" id="locationTextInput"/>
<section class="mt-5">
    <div class="container mt-5">
        <div class="columns">
            <div class="column">
                <div id="location">
                </div>
            </div>
            <div class="column"></div>
        </div>
        <div class="columns">
            <div class="column">
                <div id="characters">
                Loading all characters, please wait...
                </div>
            </div>
            <div class="column"></div>
        </div>
    </div>
</section>
{% endblock %}

{% block featured %}
    <img src="{{ asset('build/images/jerry.png') }}" alt="Jerry image" class="floating floating-rick">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/location') }}
{% endblock %}