{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/homepage') }}
{% endblock %}

{% block body %}
    <div id="homepage-container">
        <a href="{{ path('archive_index') }}">
            <img src="{{ asset('build/images/logo.png') }}" alt="Rick and Morty Logo" class="logo">
        </a>
    </div>
{% endblock %}
