{% extends 'site.html.twig' %}

{% block body %}
<section class="mt-5">
    <div class="container">
        <h1 class="title has-text-light">
            Gubba nub nub doo rah kah!
        </h1>
        <div class="columns">
            <div class="column">
                <div class="dropdown">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-category">
                        <span>Select a category</span>
                        <span class="icon is-small">
                            <i class="fas fa-caret-down"></i>
                        </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-category" role="menu">
                        <div class="dropdown-content">
                        <a href="javascript:;" rnm-category="characters" class="dropdown-item">
                            Characters
                        </a>
                        <a href="javascript:;" rnm-category="locations" class="dropdown-item">
                            Locations
                        </a>
                        <a href="javascript:;" rnm-category="episodes" class="dropdown-item">
                            Episodes
                        </a>
                        </div>
                    </div>
                </div>
                <button class="button is-white" id="paginate-left"><i class="fas fa-caret-left"></i></button>
                <button class="button is-white" id="paginate-right"><i class="fas fa-caret-right"></i></button>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div id="catalogue"></div>
            </div>
            <div class="column"></div>
        </div>
    </div>
</section>
{% endblock %}

{% block featured %}
    <img src="{{ asset('build/images/rick.png') }}" alt="Rick image" class="floating floating-rick">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/archive') }}
{% endblock %}
