// Shake animation for homepage logo
@keyframes shake {
    0% { transform: translate(-50%, -65%) rotate(0deg); }
    10% { transform: translate(-50.5%, -64.5%) rotate(-1deg); }
    20% { transform: translate(-49.5%, -65.5%) rotate(1deg); }
    30% { transform: translate(-51%, -63%) rotate(0deg); }
    40% { transform: translate(-49%, -64.5%) rotate(1deg); }
    50% { transform: translate(-50%, -65%) rotate(0deg); }
}