@import "animation";

// Rick and morty logo at the center
img.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    -ms-transform: translate(-50%, -65%);
    -webkit-transform: translate(-50%, -65%);
    width: 30vw;
    animation: shake 1s linear infinite;
    transition: .5s;

    &:hover {
        width: 40vw;
        pointer-events: auto;
        animation: none;
    }
}

// Container for homepage image
div#homepage-container {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}