@import "~bulma-scss";
@import "~bulma-pageloader";

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

@import "colors";

body,
html {
    width: 100%;
    height: 100%;
    background-color: $navy-blue;
}

img {
    &.floating {
        position: fixed;
        width: 30vw;
        &.floating-rick {
            right: 10%;
            bottom: 0;
        }

        &.floating-morty {
            left: 10%;
            bottom: 0;
            width: 28vw;
        }

        &.floating-beth {
            left: 15%;
            bottom: 0;
            width: 20vw;
        }
    }
}

.is-transparent {
    background-color: transparent !important;
}

.border {
    &-top-right {
        border-top: solid gray .5px;
        border-right: solid gray .5px;
        border-left: none;
        border-bottom: none;
    }

    &-character {
        border: solid gray .5px;
    }
}