<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Bax - Rick and Morty{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        {% block stylesheets %}
            {{ encore_entry_link_tags('css/main') }}
        {% endblock %}
    </head>
    <body class="has-text-light">
        <div id="pageloader" class="pageloader has-background-warning-dark">
            <span class="title">Can somebody just let me out of here? If I die in a cage, I lose a bet.</span>
        </div>
        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
        {% block featured %}{% endblock %}
    </body>
    {% block javascripts %}
        {{ encore_entry_script_tags('js/main') }}
    {% endblock %}
</html>
