

{% extends 'base.html.twig' %}

{% block header %}
    <div class="container mt-3">
        <div class="columns has-text-centered">
            <div class="column"></div>
            <div class="column">
                <a href="{{ path('archive_index') }}">
                    <img src="{{ asset('build/images/logo-white.svg') }}" alt="Rick and Morty logo white" width="250"/>
                </a>
            </div>
            <div class="column"></div>
        </div>
    </div>
{% endblock %}